<!DOCTYPE html>
<html>
  <head>
    <title>500 Error</title>
  </head>
  <body>
    <h1 style="text-align: center;"><a style="text-decoration: none;color: #c58415;" href="/"> MGT CARGO </a></h1>

    <h1>500 Error</h1>
    <p>An internal server error has occurred. Our team is working on resolving the issue.</p>
    <p>An internal server error has occurred. Our team is working on resolving the issue.</p>
    <p>An internal server error has occurred. Our team is working on resolving the issue.</p>
  </body>
</html>
